<div class="well">
{{if .Album.HasImage}}<img class="albumimage" width="300" src="{{.Album.Image}}">{{end}}
<h2>{{.Album.Entry.Artist}}<br><small>{{.Album.Entry.Album}}<br><span class="label label-success">{{.Album.Entry.Genre}}</span></small></h2>

<hr>
<div class="btn-group-vertical">
  <a class="btn btn-primary" href="/album/play/{{$.PageId}}"><span class="glyphicon glyphicon-play"></span> Play all tracks</a>
  <a class="btn btn-primary" href="/album/enqueue/{{$.PageId}}"><span class="glyphicon glyphicon-upload"></span> Enqueue all tracks</a>
  <a class="btn btn-primary" href="/album/random/{{$.PageId}}"><span class="glyphicon glyphicon-random"></span> Play random</a>
  <a class="btn btn-info" href="/artist/{{.Album.Entry.Id}}"><span class="glyphicon glyphicon-th-list"></span> {{.Album.Entry.Artist}} albums</a>
</div>

</div>

<ul class="nav nav-stacked nav-pills">
  {{range $a := .Album.Tracks }}

  <li id="g{{$a.Id}}" {{ if $a.Selected }} class="active"{{end}}><a href="/album/{{$.PageId}}/track/{{$a.Id}}#g{{$a.Id}}"><i class="glyphicon glyphicon-play"></i> {{$a.Title}}</a></li>

  {{end}}
</ul>