<div class="well">
<h2>{{.Artist.Artist}}</h2>

<hr>
<div class="btn-group-vertical">
  <a class="btn btn-primary" href="/artist/play/{{.PageId}}"><span class="glyphicon glyphicon-play"></span> Play all tracks</a>
  <a class="btn btn-primary" href="/artist/enqueue/{{.PageId}}"><span class="glyphicon glyphicon-upload"></span> Enqueue all tracks</a>
  <a class="btn btn-primary" href="/artist/random/{{.PageId}}"><span class="glyphicon glyphicon-random"></span> Play randomly</a>
</div>

</div>

<h3>Albums</h3>
<ul class="nav nav-stacked nav-pills">
  {{range $a := .Albums }}
  <li class="slightborder">
  <a href="/albums/{{$a.Id}}">
  <strong>{{$a.Entry.Album}}</strong>
  {{if $a.HasGenre}}<span class="label label-info pull-right">{{$a.Entry.Genre}}</span>{{end}}
  </a>
  </li>
  {{end}}
</ul>