<div class="well">
<h2>{{.Album.Name}}</h2>

<hr>
<div >
  <a class="btn btn-primary" href="/albums/play/{{.Album.Entry.Album}}"><span class="glyphicon glyphicon-play"></span> Play all tracks</a>
  <a class="btn btn-primary" href="/albums/enqueue/{{.Album.Entry.Album}}"><span class="glyphicon glyphicon-play"></span> Enqueue all tracks</a>
</div>

</div>

<ul class="nav nav-stacked nav-pills">
  {{range $a := .Album.Tracks }}

  <li id="g{{$a.Id}}" {{ if $a.Selected }} class="active"{{end}}><a href="/genre/{{$.PageId}}/track/{{$a.Id}}#g{{$a.Id}}"><i class="glyphicon glyphicon-play"></i> <strong>{{$a.Artist}}:</strong> {{$a.Title}}</a></li>

  {{end}}
</ul>