
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{{.Name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Music</a> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a id="previous" href="#"><span class="glyphicon glyphicon-step-backward"></span> Prev</a></li>
            <li><a id="play" href="#"><span class="glyphicon glyphicon-play"></span> Play </a></li>
            <li><a id="pause" href="#"><span class="glyphicon glyphicon-pause"></span> Pause </a></li>
            <li><a id="next" href="#"><span class="glyphicon glyphicon-step-forward"></span> Next </a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jump <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/albums">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      {{yield}}

    </div> <!-- /container -->


    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"><span id="current" class="text-danger">Currently playing</span></a>
        </div>
      </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>

      $('#previous').click(function(){ $.get( "/ajax/previous"); });
      $('#play').click(function(){ $.get( "/ajax/play"); });
      $('#pause').click(function(){ $.get( "/ajax/pause"); });
      $('#next').click(function(){ $.get( "/ajax/next"); });

      var t=setInterval(updatePlaying,1000);

      function updatePlaying(){
        $.get( "/ajax/current", function( d ) {
          $( "#current" ).html( d.A );
        });
      }
    </script>
  </body>
</html>
